<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Basic Auth Sample</title>
</head>
<body>
  <h1>Basic Auth Sample</h1>
  <ul>
    <li>User name: user</li>
    <li>Password: pass</li>
  </ul>
  <a href='/protect'>Restricted Access Area</a>
</body>